{% extends terms_base_template %}

{% load staticfiles %}

{% block title %}Accept Terms and Conditions{% endblock %}

{% block content %}
    <section id="termsandconditions-section" title="termsandconditions" data-role="content">
        {{ form.errors }}
        {% for terms in form.initial.terms %}
            <h1>Please Accept {{ terms.name|safe }} {{ terms.version_number|safe }}</h1>
            {% if terms.info %}
                <h4>Summary of Changes</h4>
                <div style="border: 2px solid lightgray;padding: 10px 20px;max-height: 400px;overflow: auto;margin-bottom: 20px;">
                    {{ terms.info|safe }}
                </div>
                <h4>Full Text</h4>
            {% endif %}
            <div class="toc-container">
                <div id="tc-terms-html">
                    {{ terms.text|safe }}
                </div>
            </div>

        
        {% endfor %}
		<div >
		{% include "billing/legal/fleet_pricing_base.html"%}
		
		
		</div>
		<div style="padding-bottom:20px;padding-top:20px;">
        <form action="{% url 'tc_accept_page' %}" method="post" id="tc-terms-form" data-ajax="false">
            {% csrf_token %}
            {{ form.terms }}
            {{ form.returnTo }}
			<p><input type="text" placeholder="Please type your name:" data-role="text" required id="name">
            <input class="btn btn-primary block" id="accept" type="submit" value="Accept{% if form.initial.terms|length > 1 %} All{% endif %}" data-role="button"></p>
        </form>
		</div>
    </section>
{% endblock %}
